@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Merriweather:wght@400;700&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.buttons{
    display: flex;
}
h1,h2,h3,h4,h5,h6{
    margin: 6px 0px;
    font-family: 'Merriweather', serif;
}
button,p,lable,input,a{

    font-family: 'Barlow', sans-serif;
}

.left{
    align-items: start !important;
    padding: 0px 30px;
}
.left .hed{
    font-size: 3rem;
    font-family: 'Merriweather', serif;
    font-weight: bold;
}
.left .hed2{
    font-family: 'Merriweather', serif;
    /* margin-top: ; */
    margin-top: 5px;
}

.left span, .left .span{
    color: purple;
    transition: .5s;
}
.left h2{
    margin-top: 2rem;
}
.left h2, .left h3{
    font-family: 'Merriweather', serif;
    font-weight: 600;
    margin: 7px 0px;
}
.left h3{
    font-weight: 700;
}


.left .span:hover{
    letter-spacing: 3px;
}

.left button, .container button{
    padding: 5px 11px;
    font-size: 1.1rem;
    margin: 1rem 1rem;
    border: 1px solid #5e085e;
    background: purple;
    border-radius: 23px;
    cursor: pointer;
    color: white;
    transition: .8s;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.left button:hover{
    background: white;
    border: 1px solid rgb(121, 45, 17);
    color: orangered;
}
.left button:active{
    transform: scale(1.08,1.08);
}



.right img{
    width: 430px;
    height: 430px;
    border-radius: 50%;
}

.sidebarBody{
    padding: 10px 4px;
    margin-top: 1.5rem;
}
.sidebarBody a{
    width: 100%;
    display: block;
    padding: 6px 12px;
    background: purple;
    border-radius: 3px 57px 57px 4px;
    margin: 3px 0px;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid whitesmoke;
    font-family: 'Barlow', sans-serif;
    font-weight: 800;
    transition: .8s;
}
.sidebarBody a:hover{
    background: white;
    color: purple;
}


/* footer icons  */
.icons a{
    font-size:1.5rem;
    margin:6px 4px;
    color: purple;
  }

.icons a:active{
    transform: scale(1.03,1.03);
}


/* for all pages starts form here  */
.page_section{
    width: 100%;
    height: 100%;
}
.page_section h1{
    text-align: center;
    font-weight: bolder;
    font-family: 'Barlow', sans-serif;
    font-size: 2.5rem;
    color: #500850;
    margin: 1rem auto;
    width: 100%;
}

.page_section >p{
    font-weight: bold;
    text-align: center;
}

/* about page styling  */
.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .content{
    width: 50%;
}
.container img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.container .content, .container img{
    margin: 0px auto;
}
.container .content h3{
    color: purple;
}
.container .content p{
    font-weight: bold;
    text-align: justify;
    line-height: 25px;
}


/* skilss page  */
.side-skills{
    width: 45%;
    height: 100%;
    border: 1px solid red;
    margin: 0px auto;
    padding: 15px;
}

@media screen and (max-width:800px){
    html{
        font-size: 90%;
    }
}


@media screen and (max-width:730px) {
    .right{
        height: auto !important;
    }    
    .left{
        justify-content: start !important;
        padding: 15px 0px;
    }
    .container{
        flex-direction: column-reverse;
    }
    .container .content{
        width: 100%;
        padding: 0px 20px;
        text-align: center;
    }
}


@media screen and (max-width:500px){
    html{
        font-size: 80%;
    }
}