.heading{
    font-size: 3rem;
    color: red;
}
.header{
    width: 100%;
}
.headerTop, .headerBottom{
    width: 100%;
}

.headerTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 25px;
}


.headerTop .logo img{
    width:60px;
}

.headerTop button{
    padding: 6px 2px;
    border-radius: 4px;
    font-size: 1.1rem;
    border: 1px solid rgb(75, 4, 75);
    cursor: pointer;
    background: purple;
    color: white;
    font-weight: 400;
    width: 40px;
}

.headerTop button:active{
    transform: scale(1.04,1.05);
}

.headerTop .themeBtns{display: flex; background: #4b524b93; padding: 10px; border-radius: 40px;}
.headerTop .themeBtns div{
    /* border: 1px solid red; */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0px 12px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 5px #1615156c;
}
.themeBtns div:active{
    transform: scale(1.3,1.03);
}
.themeBtns div:nth-child(1){
    background: orangered;
    box-shadow: 0px 0px 1px 5px orangered;
}
.themeBtns div:nth-child(2){
    background: purple;
    box-shadow: 0px 0px 1px 5px purple;
}
.themeBtns div:nth-child(3){
    background: white;
    box-shadow: 0px 0px 1px 5px white;
}

.headerBottom{
    background: #fac5b2b9;
    padding: 3px;
}

.headerBottom code{
    text-align: left;
    margin: 10px 30px;
    font-size: 1.2rem;
}