.main {
    /* border: 1px solid red; */
    position: relative;
}






.intro {
    width: 100%;
    /* height: 100vh; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.intro .side {
    width: 45%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 25px 50px;
}





@media screen and (max-width:730px) {
    .intro {
        flex-direction: column-reverse !important;
    }
    .side{
        width: 100% !important;
        align-items: center !important;
        text-align: center;
    }
  
    .side img{
        width: 300px !important;
        height: 300px !important;
    }
}
@media screen and (max-width:650px) {
   .side{
    padding: 0px !important;
   }
   .left{
    margin:1rem 0px !important;
   }
}
