.sidebar {
    width: 200px;
    /* border: 1px solid red; */
    margin: 7px;
    height: auto;
    position: absolute;
    top: 0;
    left: -300px;
    transition: 1s;
    background: #e7e0e0;
    border-radius: 5px;
}

.close {
    width: 100%;
    padding: 10px;
    text-align: right;
}

.icon {
    font-size: 2.5rem;
    cursor: pointer;
    color: purple;
}
.icon:hover{
    color: #c21ec2;
}
.icon:active{
    transform: scale(1.04,1.04);
}